body {
    width: 100vw;
    height: 100vh;
    background: #E9E9E9;
    display: flex;
    flex-direction: column;
}
#banner-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow;*/
    width: 100%;
    height: 20%;
}
h1 {
    font-family: 'Ribeye', 'Roboto', 'Arial';
    font-size : 300%;
    text-align: center;
}
h2 {
    font-family: 'Ribeye', 'Roboto', 'Arial';
    font-size : 150%;
    margin-top: 1%;
    text-align: center;
}
#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
    height: 60%;
}
#display {
    /* background-color: blue;*/
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vs-text {
    font-size: 59px;
    font-family: "Ribeye", "Arial";
}
.scoreboard-img {
    width: 15%;
    min-width: 120px;
    height: auto;
    /* border: solid black 4px; */
    margin: 10px 40px;
}
#scoreboard-text {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#scoreboard-text p {
    font-family: "Ribeye Marrow", "Arial";
    font-size: 36px;
}
#scoreboard-text div {
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 35%;
}
#result-text {
    font-family: "Ribeye Marrow", "Arial";
    font-size: 30px;
    margin-top: 30px;
}
#banner-bottom {
    /* background-color: green;*/
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice-icon {
    width: 90px;
    height: auto;
}